body{
    background-image: radial-gradient(circle, #7ca4cf, #72b5e1, #65c7ef, #57d9f9, #4eebff);


}

.bt{
    margin-top:130px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    background-color: aliceblue;
    height: 400px;
    width: 500px;
    border-radius: 5px ;
}

.header{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header h2{
    color: #3d4d4f;
}



*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}