.group-list li a {

    text-decoration: none;
    color:black;
    text-align: center;
}



ul li{
    list-style-type: none;
    margin:22px

}

.group-list{
    display: flex;
    flex-direction: column;
}

h5{
    color:rgb(10, 183, 231)
}

.top{
    margin-top: 8.3px;
    float: left;
    width: 70px;
    height: 100px;   
}
.b{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -1px;
    
}

.list-nav{
    margin-left: -33px;
    margin-top: 20px;
   

    
    
}
.list-nav  li {
    margin-top: 40px;
}

.list-nav  li a {
    text-align: center;
    color:rgb(66, 71, 71);
    
}

.list-nav :nth-child(6){
    margin-top: 150px;
}
.para-list{
    display: flex;
    width: 50px;
    flex-direction: column;
    place-content: center;
   
}



